image.avatar {
    width: 200px;
}

label.greeting {
    font-weight: bold;
    font-size: 30;
    color: black;
}

.home-bar {
    padding: 10 5;
}

.name-bar {
    margin: 6;
}

.car-bar {
    padding: 33 ;
    background-image: url("res://black_frame"); 
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    
}

.car-bar label {
    font-size: 20;    
}

.bordered {
    border-width: 2; 
    border-color: black;
}

.centered {
    text-align: center;
}

.shadowed {
    box-shadow: 5px 5px 5px #888888;
}

.framed {
    margin: 5px;

}

.bolded {
    font-weight: bold;
}

button.detail {
    background-color: #84BD00;
    /* border-radius: 64px; */
    /* width: 60%; */
}