.action-bar {
    width: 100%;
    background-color: black;
    height: 8%;
}

.actionitem {
    height: 90%;

}

label {
    font-weight: bold;    
    color: black;
}

.name-bar {
    width: 100%;
    margin: 6 6 10;
}

label.greeting {
    font-size: 20;
    
}

label.what-question {
    font-size: 12;
    padding-top: 0;
    margin-top: 0;
}

label.type {
    text-align: center;
    font-size: 10;
}

.grid {
    width: 100%;
}

.box {
    width: 25%;
    margin: 20px;
}
